@import "../scss/Root.scss";


.main {
    margin-top: 50px;
    margin-bottom: 40px;
}

.main_content {
    width: 100%;
    padding: 50px 70px;
    border-radius: 10px;
    background: $background_day;
    box-shadow: $box_shadow_day;
    transition: 0.4s;
}

.main_content_maps {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: $box_inset_shadow_day;
    background: $background_day;
    transition: 0.4s;
}

.main_content_map {
    height: 500px;
    width: 100%;
    border-radius: 10px !important;
    border: none;
    filter: grayscale(100%);
    
    box-shadow: $box_shadow_day;
    transition: 0.4s;
    
}

.active_map{
    filter: grayscale(50%) invert(100%) hue-rotate(-250deg);
}

/* page get touch */

.main_get_touch {
    width: 100%;
    padding: 30px 50px;
    border-radius: 10px;
    background: $background_day;
    box-shadow: $box_shadow_day;
    margin-top: 40px;
    transition: 0.4s;
}

.main_get_touch_title {
    text-align: center;
    color: $color_day;
    font-family: Nunito;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: 0.4s;
}

.main_get_touch_list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    margin-top: 48px;
    gap: 40px;
}

.main_get_touch_item {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.main_get_touch_item_icon_block {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background: $background_day;
    box-shadow: $box_shadow_day;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    font-size: 35px;
    color: $color_day;
    transition: 0.4s;
    
    &:hover{
        box-shadow: $box_inset_shadow_day;
    }
}

.main_get_touch_item_title_blog {
    color: $color_day;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    margin-bottom: 10px;
    transition: 0.4s;
}

.main_get_touch_item_text_blog {
    color: $color_day;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px; /* 142.857% */
    letter-spacing: 2px;
    transition: 0.4s;
}


/* page get touch */

/* next_form started */

.next_form_section {
    margin-bottom: 140px;
}

.next_form {
    width: 100%;
    // height: 527px;
    border-radius: 10px;
    background: $background_day;
    box-shadow: $box_shadow_day;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 45px 0;
    gap: 20px;
    transition: 0.4s;


}

.next_form_label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;

    &:nth-child(4) {
        margin-bottom: 25px;
    }
}

.next_form_label_group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.next_form_label_span {
    color: #24272C;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 2px;
    transition: 0.4s;
}

.next_form_label_span_bg {
    width: 50px;
    height: 46px;
    border-radius: 10px 0px 0px 10px;
    border: 0.5px solid #D1D2DA;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    color: $color_day;
    transition: 0.4s;
}

.next_form_label_input {
    width: 600px;
    height: 46px;
    border-radius: 0px 10px 10px 0px;
    background: rgba(0,0,0,0) !important;
    box-shadow: $box_inset_shadow_day;
    border: none;
    padding: 0 25px 0 15px;
    font-weight: 400;
    font-size: 18px;
    color: $color_day;
    transition: 0.4s !important;
    letter-spacing: 1px;
    
}

.next_form_label_textarea {
    width: 650px;
    height: 160px;
    border-radius: 10px;
    background: rgba(0,0,0,0) !important;
    border: none;
    box-shadow: $box_inset_shadow_day;
    padding: 15px 25px 15px 15px;
    font-weight: 400;
    font-size: 18px;
    color: $color_day;
    letter-spacing: 1px;
    transition: 0.4s;
}

.next_form_section_btn_group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.next_form_section_btn {
    width: 140px;
    height: 45px;
    border-radius: 10px;
    background: $background_day;
    border: none;
    box-shadow: $box_shadow_day;

    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    transition: 0.4s;

    &:hover {
        box-shadow: $box_inset_shadow_day;
    }

    &:active {
        transform: scale(0.90);
    }
}
/* next_form finished */

















/* active */


.main_content_btn_active {
    background: $background_night;
    color: $color_night;
    box-shadow: $box_shadow_night;

    &:hover {
        box-shadow: $box_inset_shadow_night;
    }
}

.next_handler_content_list_item_title_blog_circle_active {
    border-color: $color_night;
}


.main_content_welcome_text_active {
    color: $color_night;
}


.background_color {
    background-color: $background_night;
    box-shadow: $box_shadow_night;
}

.background_color_plus {
    background-color: $background_night;
    box-shadow: $box_shadow_night;
    border-color: #0D0E12;
}

.text_color {
    color: $color_night;
}

.text_color_plus {
    color: $color_night;
    // background: $background_night;
    border-color: #3C3D47;
}



.next_handler_open {
    height: 191px;

    & .next_handler_question_answer_item_blog_icon {
        transform: rotate(-90deg);
    }
}



.main_content_box_shadow_inset_active {
    background-color: $background_night;
    box-shadow: $box_inset_shadow_night;
}

.shadow_inset_active {
    background-color: $background_night;
    box-shadow: $box_inset_shadow_night;
}

.shadow_inset_active_plus {
    box-shadow: $box_inset_shadow_night;
    color: $color_night;
}