@import "@/app/scss/Root_alisa";

.main {
    width: 100%;
    margin-top: 90px;
}

.main_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.main_content_welcome_text {
    color: #24272C;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 2px;
    margin-bottom: 15px;
    height: 17px;
    transition: 0.4s;
}


.main_content_name_title {
    color: #24272C;
    font-family: Nunito;
    font-size: 85px;
    font-style: normal;
    font-weight: 600;
    line-height: 68px;
    letter-spacing: 2px;
    height: 67px;
    transition: 0.4s;
}

.main_content_direction_list {
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 52px;
}

// .main_content_direction_item {}

.main_content_direction_link {
    color: #24272C;
    // text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 2px;
    transition: 0.4s;
}

.main_content_btn_group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 80px;
}

.main_content_btn {
    width: 170px;
    height: 55px;
    border-radius: 10px;
    background: $background_day;
    box-shadow: -6px -6px 12px 0px #FFF, 6px 6px 12px 0px #B8B9BE;
    border: none;
    
    display: flex;
    align-items: center;
    justify-content: center;

    color: #24272C;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    /* 85% */
    letter-spacing: 2px;
    transition: 0.4s;

    &:hover {
        box-shadow: 2px 2px 5px 0px #B8B9BE inset, -3px -3px 7px 0px #FFF inset;
        cursor: pointer;

        &:active {
            transform: scale(0.90);
        }
    }
}



.main_content_job_list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 130px;
    margin-bottom: 45px;
    gap: 60px;
}

.main_content_job_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main_content_job_surrounding {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: $background_day;
    box-shadow: $box_shadow_day;
    margin-bottom: 30px;
    transition: 0.4s;
}




.main_content_job_surrounding_icon {
    font-size: 40px;
    color: $color_day;
    transition: 0.4s;
}

.main_content_job_item_title {
    width: 199px;
    color: #24272C;
    text-align: center;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: 0.4s;
}

.main_content_get_contact {
    width: 100%;
    // height: 178px;
    border-radius: 10px;
    background: $background_day;
    box-shadow: $box_shadow_day;
    padding: 48px 50px;
    margin-bottom: 35px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    transition: 0.4s;
}

.main_content_get_contact_title {
    color: $color_day;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    width: 195px;
    height: 24px;

    transition: 0.4s;
}

.main_content_get_contact_text {
    display: flex;
    width: 405px;
    height: 36px;
    flex-direction: column;
    justify-content: center;
    margin-top: 22px;

    color: $color_day;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1px;
    transition: 0.4s;
}

.main_content_get_contact_btn {
    width: 140px;
    height: 44px;
    border: none;
    border-radius: 10px;
    background: $background_day;
    box-shadow: $box_shadow_day;
    
    display: flex;
    align-items: center;
    justify-content: center;

    color: #24272C;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    /* 106.25% */
    letter-spacing: 2px;
    transition: 0.4s;

    &:hover {
        box-shadow: $box_inset_shadow_day;
        cursor: pointer;
    }

    &:active {
        transform: scale(0.90);
    }
}

/* next handler */

// .next_handler {}

.next_handler_content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 75px;
    gap: 25px;
}

.next_handler_content_list_item {
    width: 350px;
    height: 490px;
    border-radius: 10px;
    background: $background_day;
    box-shadow: $box_shadow_day;
    display: flex;
    flex-direction: column;
    padding: 15px;
    transition: 0.4s;
    position: relative;
}

.next_handler_content_list_item_image{
    width: 320px !important;
    height: 210px !important;
    position: relative !important;
    
    border-radius: 10px;
}

.next_handler_content_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 20px;
}

.next_handler_content_list_item_title_blog {
    display: flex;
    align-items: center;
    justify-content: center;
}

.next_handler_content_list_item_title_blog_circle {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: 0.5px solid $color_day;
    margin-right: 10px;
    transition: 0.4s;
}

.next_handler_content_list_item_title {
    // width: 76px;
    height: 12px;

    color: #24272C;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    /* 106.25% */
    letter-spacing: 2px;
    transition: 0.4s;
}

.next_handler_content_list_item_title_blog_icon {
    width: 14px;
    height: 14px;
    font-size: 14px;
    color: $color_day;
    margin-right: 5px;
    transition: 0.4s;
}

.next_handler_content_list_item_title_blog_data {
    height: 8px;
    color: $color_day;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 10px;
    /* 200% */
    transition: 0.4s;
    letter-spacing: 2px;
}

.next_handler_content_list_title {
    color: $color_day;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    text-transform: capitalize;
    /* 85% */
    letter-spacing: 2px;
    margin-bottom: 20px;
    transition: 0.4s;
}

.next_handler_content_list_text {
    color: $color_day;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: 2px;
    margin-bottom: 40px;
    transition: 0.4s;
}

.next_handler_content_list_btn_blog {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 320px;
    bottom: 20px;    
}

.next_handler_content_list_btn {
    width: 106px;
    height: 38px;
    border-radius: 10px;
    background: $background_day;
    box-shadow: $box_shadow_day;
    border: 0;

    color: $color_day;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
    /* 121.429% */
    letter-spacing: 2px;
    transition: 0.4s;
    
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        box-shadow: $box_inset_shadow_day;
        cursor: pointer;
    }

    &:active {
        transform: scale(0.90);
    }
}

.next_handler_content_list_btn_icon {
    width: 25px;
    height: 25px;
    font-size: 25px;
    color: $color_day;
    transition: 0.4s;
}

.next_handler_content_list_item_more_blog {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background: $background_day;
    box-shadow: $box_inset_shadow_day;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.4s;
}

.next_handler_content_list_item_more {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    box-shadow: $box_shadow_day;
    background: $background_day;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #000;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 2px;
    transition: 0.4s;

    &:hover {
        box-shadow: $box_inset_shadow_day;
        cursor: pointer;
    }
}









/* next_handler_question_answer_list */

.next_handler_question_answer_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 150px;
}

.next_handler_question_answer_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 74px;
    border-radius: 10px;
    border-top: 4px solid #FFF;
    background: $background_day;
    box-shadow: $box_shadow_day;
    padding: 20px 30px;
    transition: 0.4s;
    overflow: hidden;
}



.next_handler_question_answer_item_blog {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &:hover {
        cursor: pointer;
    }
}

.next_handler_question_answer_item_blog_title {
    color: #24272C;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    // line-height: 10px;
    /* 75% */
    letter-spacing: 2px;
    transition: 0.4s;
    // height: 18px;
}

.next_handler_question_answer_item_blog_icon {
    width: 30px;
    height: 30px;
    font-size: 30px;
    color: $color_day;
    transition: 0.4s;
}

.next_handler_question_answer_item_text_blog {
    margin-top: 33px;
    color: $color_day;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 2px;
    max-width: 930px;
    width: 100%;
    transition: 0.4s;
}


.mySwiper {
    height: 400px;
    overflow: hidden;
}

.next_handler_swipper {
    width: 130px;
    height: 130px;
    background: $background_day;
    box-shadow: $box_shadow_day;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.4s;
}

.next_handler_swipper_image {
    width: 110px;
    height: 110px;
    border-radius: 50%;
}

.next_handler_swipper_text {
    width: 598px;
    color: #24272C;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    /* 156.25% */
    letter-spacing: 2px;
    margin-top: 30px;
    transition: 0.4s;
}

.next_handler_swipper_list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    gap: 25px;
}

.next_handler_swipper_item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.next_handler_swipper_item_link {
    font-size: 25px;
    color: $color_day;
    transition: 0.4s;
}


/* sertificate */

.next_sertificate {
    margin-top: 150px;
}

.next_sertificate_content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.next_sertificate_content_logo_page {
    border-radius: 10px;
    width: 540px;
    height: 465px;
    background: $background_day;
    box-shadow: $box_inset_shadow_day;
    padding: 25px;
    transition: 0.4s;
}

.next_sertificate_content_logo_blog {
    width: 490px;
    height: 344px;
    border-radius: 10px;
    background: $background_day;
    box-shadow: $box_shadow_day;
    margin-bottom: 15px;
    padding: 20px;
    position: relative;
    transition: 0.4s;
}

.next_sertificate_content_info_blog {
    width: 100%;
    height: 56px;
    border-radius: 10px;
    background: $background_day;
    box-shadow: $box_shadow_day;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 20px;
    transition: 0.4s;

}

.next_sertificate_content_logo_blog_image {
    width: 100% !important;
    height: 100% !important;
    border-radius: 10px !important;
    position: relative !important;
}

.next_sertificate_content_info_blog_link {
    color: #24272C;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    /* 111.111% */
    letter-spacing: 2px;
    text-decoration-line: underline;
    transition: 0.4s;
}

.next_sertificate_content_info_blog_data {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.next_sertificate_content_info_blog_data_icon {
    width: 18px;
    height: 18px;
    font-size: 18px;
    color: #24272C;
    transition: 0.4s;
}

.next_sertificate_content_info_blog_data_text {
    color: #24272C;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: 2px;
    transition: 0.4s;
}



/* next_form */

.next_form_section {
    margin-bottom: 140px;
}

.next_form {
    width: 100%;
    // height: 527px;
    border-radius: 10px;
    background: $background_day;
    box-shadow: $box_shadow_day;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 45px 0;
    gap: 20px;


}

.next_form_label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;

    &:nth-child(4) {
        margin-bottom: 25px;
    }
}

.next_form_label_group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.next_form_label_span {
    color: #24272C;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 2px;
    transition: 0.4s;
}

.next_form_label_span_bg {
    width: 50px;
    height: 46px;
    border-radius: 10px 0px 0px 10px;
    border: 0.5px solid #D1D2DA;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    color: $color_day;
    transition: 0.4s;
}

.next_form_label_input {
    width: 600px;
    height: 46px;
    border-radius: 0px 10px 10px 0px;
    background: rgba(0,0,0,0) !important;
    box-shadow: $box_inset_shadow_day;
    border: none;
    padding: 0 25px 0 15px;
    font-weight: 400;
    font-size: 18px;
    color: $color_day;
    // transition: 0.4s !important;
    letter-spacing: 1px;
}

.next_form_label_textarea {
    width: 650px;
    height: 160px;
    border-radius: 10px;
    background: rgba(0,0,0,0) !important;
    border: none;
    box-shadow: $box_inset_shadow_day;
    padding: 15px 25px 15px 15px;
    font-weight: 400;
    font-size: 18px;
    color: $color_day;
    letter-spacing: 1px;
}

.next_form_section_btn_group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.next_form_section_btn {
    width: 140px;
    height: 45px;
    border-radius: 10px;
    background: $background_day;
    border: none;
    box-shadow: $box_shadow_day;

    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    transition: 0.4s;

    &:hover {
        box-shadow: $box_inset_shadow_day;
    }

    &:active {
        transform: scale(0.90);
    }
}






.main_content_btn_active {
    background: $background_night;
    color: $color_night;
    box-shadow: $box_shadow_night;

    &:hover {
        box-shadow: $box_inset_shadow_night;
    }
}

.next_handler_content_list_item_title_blog_circle_active {
    border-color: $color_night;
}


.main_content_welcome_text_active {
    color: $color_night;
}


.background_color {
    background-color: $background_night;
    box-shadow: $box_shadow_night;
}

.background_color_plus {
    background-color: $background_night;
    box-shadow: $box_shadow_night;
    border-color: #0D0E12;
}

.text_color {
    color: $color_night;
}

.text_color_plus {
    color: $color_night;
    // background: $background_night;
    border-color: #3C3D47;
}



.next_handler_open {
    height: 191px;

    & .next_handler_question_answer_item_blog_icon {
        transform: rotate(-90deg);
    }
}



.main_content_box_shadow_inset_active {
    background-color: $background_night;
    box-shadow: $box_inset_shadow_night;
}

.shadow_inset_active {
    background-color: $background_night;
    box-shadow: $box_inset_shadow_night;
}
.shadow_inset_active_plus{
    box-shadow: $box_inset_shadow_night;
    color: $color_night;
}